<!-- <p>{{todoService.todoItems}}</p>
<p>{{todoService.todoItems[0].title}}</p> -->
<!-- <p>{{todoItems()[0].title}}</p> -->


<!-- @for (todo of todoItems(); track $index) {
    <p>{{todo.title}}</p>
} -->


<h3>Todos List</h3>

<!-- <p *ngIf="!todoItems().length">Loading...</p> -->
<!-- this is a structural directive : (above is the old way)
 the element exist while the if is true and it's removed from the dom when the data is loaded-->
@if (!todoItems().length) {
    <p>Loading...</p>
}

<form>
    <label>Filter Todos</label>
    <input name="searchTerm" [(ngModel)]="searchTerm" placeholder="search todos..." />
</form>

<ul class="todos">
    <!-- the track ~ what is unique is you compared all items -->
    @for (todo of todoItems() | filterTodos : searchTerm() ; track todo.id) {
        <app-todo-item (todoToggle)="updateTodoItem($event)" [todo]="todo"/>
    }
</ul>


